extends layout

block content
    .container.mt-4
        div.row
            div.col-md-12.col-lg-12.col-sm-12.text-center.mt-5
                != messages('message', locals) 
        div.row
            div.col-md-12.col-lg-12.col-sm-12.mt-5
                h1.text-center #{title}
    br
    div.row
        div.col-md-8.col-sm-8.col-lg-8.offset-md-2.offset-lg-2
            table.table.table-striped
                thead
                    tr
                       h4.text-center=user.name
                       h4.text-center
                        a.btn.btn-primary(href='/users/edit_profile/'+user._id) Edit Profile
                tbody
                    tr
                        td Email Address
                        td #{user.username}
                    tr
                        td Cellphone Number
                        td #{user.cellphoneNumber}
                    tr
                        td Gender
                        td #{user.gender}
                    tr 
                        td Home Address
                        td #{user.homeAddress}
                    
                        
                        
   
